@tailwind base;
@tailwind components;
@tailwind utilities;


@-webkit-keyframes movemask {
  0% {
    -webkit-mask-position: 10px 10px;
    -webkit-transform: rotate(0deg); 
  }
  50% {
     background-position: 20px 40px;
     -webkit-mask-position: 100px 107px;
     -webkit-transform: rotate(12deg);     
  }
  80% {
      z-index: 20;
     background-position: 100px 20px;
     -webkit-mask-position: -100px 107px;
     -webkit-transform: rotate(-12deg) scale(1.2);    
  }
  100% {
      z-index: 20;
     background-position: 0 0;
     -webkit-mask-position: 10px 10px;
     -webkit-transform: rotate(0); 
  }
}

@layer utilities {
  .mask-image {
    -webkit-mask-image: url('/image/Regular_blob.svg');
    mask-image: url('/image/Regular_blob.svg');
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
